h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  max-width: 100%;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1680px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1680px) {
  .section-title {
    font-size: 46px;
  }
}

.regular-before::before {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ff6b09;
}

.section-title {
  color: #111518;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .teacher-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.teacher__wrap {
  margin-right: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1680px) {
  .teacher__title {
    padding-left: 8px;
  }
}

.title__secondary {
  margin-bottom: 28px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
}

.teacher-title__secondary::after {
  content: '';
  margin-top: 8px;
  margin-bottom: 20px;
  display: block;
  width: 280px;
  border-bottom: 1px solid #b9b9b9;
}

.teacher__photo {
  margin-bottom: 20px;
  width: 100%;
}

.teacher__text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: #111518;
}

.teacher__text::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 14px;
  background-image: url(/img/Group.svg);
}

.regular-before::before {
  margin-bottom: 20px;
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
}

.about__link {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration: underline;
  color: #ff6b09;
}

.guarantee {
  background: #f1f1f1;
}

.guarantee__list {
  position: relative;
}

.guarantee__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.guarantee__item {
  margin-bottom: 24px;
}

.guarantee__item:before {
  content: '';
  z-index: 1;
  width: 15px;
  position: absolute;
  left: -31px;
  height: 20px;
  background-image: url(/img/fire-icon.svg);
}

.guarantee__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}

.guarantee__text span {
  color: #ff6b09;
}

.guarantee__text:before {
  content: '';
  position: absolute;
  height: 240px;
  top: 25px;
  left: -25px;
  border-left: 1px dashed #b9b9b9;
}

@media screen and (min-width: 768px) {
  .guarantee__text:before {
    height: 126px;
  }
}
/*# sourceMappingURL=main.css.map */