.hero-section__button {
  margin-bottom: 40px;
  padding: 15px 55px;

  text-transform: uppercase;
  border: none;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: $primary-white-color;

  cursor: pointer;
}
