<section class="contacts">
    <div class="contacts__container">
      <h2 class="contacts__title">
        Registration for a <span class="accent">free</span> phone
        <span class="accent">consultation</span> on the nuances of English UPE
      </h2>
      <p class="contacts__description">
        Leave a request for participation in a <span class="accent">free lesson</span>. <br />
        A consultant will contact you and answer your questions
      </p>
      <form class="contacts__form">
        <label class="contacts__label" for="">
          <input class="contacts__input" 
          type="text" 
          name="" id="" 
          placeholder="Name*"
          minlength="2"
          required/>
        </label>
        <label class="contacts__label" for="">
          <input class="contacts__input" 
          type="tel"
          name="phone" id="" 
          placeholder="Phone*"
          required
          title="+380 (00) 000-00-00"
          pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="13"
          maxlength="13"/>
        </label>
        <button type="submit" class="contacts__button">і want a free lesson</button>
      </form>
    </div>
</section>
