<section class="contacts">
    <div class="contacts__container">
      <h2 class="contacts__title">
        Registration for a <span class="accent">free</span> phone
        <span class="accent">consultation</span> on the nuances of English UPE
      </h2>
      <p class="contacts__description">
        Leave a request for participation in a <span class="accent">free lesson</span>. <br />
        A consultant will contact you and answer your questions
      </p>
      <form class="contacts__form">
        <label class="contacts__label" for="">
          <input class="contacts__input" type="text" name="" id="" placeholder="Name*" />
        </label>
        <label class="contacts__label" for="">
          <input class="contacts__input" type="text" name="" id="" placeholder="Phone*" />
        </label>
        <button class="contacts__button">і want a free lesson</button>
      </form>
    </div>
  </section>