<section class="hero-section">
  <div class="container">
    <div class="hero__flex-wrapper">
    <div class="">
    <h1 class="hero-section__title hero__title-desc">Complex <br> preparation for <br> English UPE</h1>
    <h1 class="hero-section__title">Complex preparation for English UPE</h1>
    <p class="hero-section__text">
      <span class="hero-section__text-wrapper">It won’t be easy.</span>  </br> But you’re guaranteed to get <br class="hero-section__br"> <span class="hero-section__text-wrapper hero-section__text-wrapper--accent-color">+25 points</span> 
    </p>
    <a href="#contact-form"><button type="button" class="hero-section__button">I want a free lesson</button></a>
    </div>
    <div class="hero-section__background-img"></div>
    </div>
    <ul class="card-set">
      <li class="card-set__item card-set__item--icon-one"> <span class="card-set__text-wrapper">Adapted author's <br> UPE program</span> </li>
      <li class="card-set__item card-set__item--icon-two"> <span class="card-set__text-wrapper">Modern <br> teaching methods</span> </li>
      <li class="card-set__item card-set__item--icon-three"> <span class="card-set__text-wrapper">Financial guarantee <br> the result</span> </li>
    </ul>

  </div>
</section>
