<section class="hero-section">
  <div class="container">
    <h1 class="hero-section__title">Complex preparation for English UPE</h1>
    <p class="hero-section__text">
      <span class="hero-section__text-wrapper">It won’t be easy.</span>  </br> But you’re guaranteed to get <br> <span class="hero-section__text-wrapper hero-section__text-wrapper--accent-color">+25 points</span> 
    </p>
    <button type="button" class="hero-section__button">I want a free lesson</button>
    <div class="hero-section__background-img"></div>
    <ul class="card-set">
      <li class="card-set__item card-set__item--icon-one">Adapted author's <br> UPE program</li>
      <li class="card-set__item card-set__item--icon-two">Modern <br> teaching methods</li>
      <li class="card-set__item card-set__item--icon-three">Financial guarantee <br> the result</li>
    </ul>

  </div>
</section>
