<section class="hero-section" dark-theme>
  <div class="container">
    <div class="hero__flex-wrapper">
    <div class="">
    <h1 class="hero-section__title wow fadeInLeft" data-wow-duration="1s" dark-theme-text>Complex <br class="hero-br"> preparation for <br class="hero-br"> English UPE</h1>
    <p class="hero-section__text wow fadeInLeft" data-wow-duration="1s">
      <span class="hero-section__text-wrapper">It won’t be easy.</span>  </br> But you’re guaranteed to get <br class="hero-section__br"> <span class="hero-section__text-wrapper hero-section__text-wrapper--accent-color">+25 points</span> 
    </p>
    <a href="#contacts-form"><button type="button" class="hero-section__button wow zoomIn" data-wow-duration="1s" data-wow-delay="0.5s">I want a free lesson</button></a>
    </div>
    <div class="hero-section__background-img"></div>
    </div>
    <ul class="card-set">
      <li class="card-set__item card-set__item--icon-one"> <span class="card-set__text-wrapper">Adapted author's <br> UPE program</span> </li>
      <li class="card-set__item card-set__item--icon-two"> <span class="card-set__text-wrapper">Modern <br> teaching methods</span> </li>
      <li class="card-set__item card-set__item--icon-three"> <span class="card-set__text-wrapper">Financial guarantee <br> the result</span> </li>
    </ul>

  </div>
</section>
