.guarantee {
  background: #f1f1f1;
}

.guarantee__list {
  position: relative;
}

.guarantee__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.guarantee__item {
  margin-bottom: 24px;

  &:before {
    content: '';
    z-index: 1;
    width: 15px;
    position: absolute;
    left: -31px;
    height: 20px;
    background-image: url(/img/fire-icon.svg);
  }
}

.guarantee__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;

  & span {
    color: $accent-color;
  }

  &:before {
    content: '';
    position: absolute;
    height: 240px;
    top: 25px;
    left: -25px;
    border-left: 1px dashed #b9b9b9;
    @media screen and(min-width:768px) {
      height: 126px;
    }
  }
}
